.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* Adjust the gap between sections */
  }
  
  .about-title {
    font-size: 2rem; /* Increased font size for title */
  }
  
  .about-description {
    font-size: 1.5rem;
    line-height: 1.6rem;/* Increased font size for description */
  }
  @media screen and (max-width: 720px) {
    .about-title{font-size: 1.5rem;
    }
    .about-description{font-size: 1rem;}
  }